body{
	box-sizing: border-box;
	margin:0px;
	padding:0px;

}

.loading{
	background: #fff radial-gradient(circle, rgba(248, 26, 255, 0.9), rgba(75, 11, 80, 0.9));
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
}

.loading img {
    margin: 65% 34%;
    width: 35%;

}

/*.logo-inicio{
    line-height:400px;
    margin:0px auto;
    text-align:center;
}
*/

#s-register{
	background: url(../images/drive-intro.jpg);
	background-size: cover;
	background-position: center;
	height: 700px;
	font-size: 4em;
}

#s-register img{
    margin: 2% 35%;
    width: 32%;
}

.options-register{
    font-size: 0.5em;
    padding-top: 122%;
    padding-left: 13%;
}

.options-register .btn-login{
	background: transparent;
	border: 2px solid #FFFFFF;
	color: #FFFFFF;


}

.optiones-register .btn-signup{
	background: radial-gradient(circle, rgba(248, 26, 255, 0.9), rgba(75, 11, 80, 0.9));
}