html, body {
	font-family: sans-serif;	
	height: 100%;
	margin: 0;
	padding: 0;
}
    
#map { 
	height: 100%;
}

#address {
    display: block;
    width: 87%;
    position: absolute;
    bottom: 84%;
    left: 10%;
}  

#search-direction {
	position: absolute;
	width: 90%;
	bottom: 3.5em;	
}

#input-direction{
    width: 83%;
    position: absolute;
    left: 14%;
    bottom: 102%;
}

.circle-lyft{
    position: absolute;
    bottom: 72%;
    left: -6%;
    width: 45px;
    height: 45px;
	border-radius: 50%;
    background-color: #FFFFFF;
    border: 1px solid #412c90; 
}

.icon-search{
    width: 91%;
    position: absolute;
    top: 31%;
    left: 4%;
    vertical-align: middle;
}

.btn-lyft{
    background-color: #412c90;
    color: #FFFFFF;
    font-size: 1em;
    font-weight: bold;
    margin-left: -6%;
    margin-top: 4%;
    width: 103%;
}

#s-profile{
    background-color: #412c90;	
}

.logo-mapa {
	width: 10%;
	margin: 0% 44%;	
}

.side-nav{
	width: 220px;
}

img.circle {
    margin: 0% 30%;
}

.session-drive{
	position: absolute;
	bottom: 10%;
	width: 100%;
    background-color: #412c90;	
}

a.waves-effect.session-drive{
	color: white;
}

.fa{
	font-size: 2em;
}

    header, main, footer {
      padding-left: 300px;
    }

    @media only screen and (max-width : 992px) {
      header, main, footer {
        padding-left: 0;
      }